

.bar{
    background-color: black;
    width: 10px;
    height: 50px;
    left: 25px;
}

.light{
    background-color: black;
    display: inline-block;
    border-radius: 5px;   
}

.red{
    border-radius: 50%;
    border: red;
    background-color: red;
    width: 50px;
    height: 50px;
    margin: 5px;

}
.yellow{
    border-radius: 50%;
    border:yellow;
    background-color: yellow;
    width: 50px;
    height: 50px;
    margin: 5px;
}
.green{
    border-radius: 50%;
    border: green;
    background-color: green;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.glow{
    box-shadow: 0 0 60px white;
}
